{% include 'common/header.html' %} {% include 'common/nav.html' %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">折线图</h5>
            <hr>
            <img src="https://learn.microsoft.com/zh-cn/power-bi/visuals/media/power-bi-line-charts/power-bi-line.png" alt="Line Chart" style="max-width: 100%;">
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">饼图和柱状图</h5>
            <hr>
            <div style="display: flex;">
                <img src="https://www.tibco.com/sites/tibco/files/media_entity/2022-01/PieChart-01.svg" alt="Pie Chart" style="max-width: 50%; margin-right: 20px;">
                <img src="https://os.alipayobjects.com/rmsportal/JKWwZiTPusAHqMg.jpg" alt="Bar Chart" style="max-width: 50%;">
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 10（1）</h5>
                    <hr>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 4</li>
                        <li>Item 5</li>
                        <li>Item 6</li>
                        <li>Item 7</li>
                        <li>Item 8</li>
                        <li>Item 9</li>
                        <li>Item 10</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 10（2）</h5>
                    <hr>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 4</li>
                        <li>Item 5</li>
                        <li>Item 6</li>
                        <li>Item 7</li>
                        <li>Item 8</li>
                        <li>Item 9</li>
                        <li>Item 10</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>