{% include 'common/header.html' %} {% include 'common/nav.html' %}

<div class="container my-3">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Year</th>
                        <th scope="col">Seq</th>
                        <th scope="col">Disaster Type</th>
                        <th scope="col">Event Name</th>
                        <th scope="col">Country</th>
                        <th scope="col">Total Damages</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>numerical values1</td>
                        <td>numerical values2</td>
                        <td>numerical values3</td>
                        <td>numerical values4</td>
                        <td>numerical values5</td>
                        <td>numerical values6</td>
                        <td>
                            <button type="button" class="btn btn-primary">Recovery</button>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>numerical values1</td>
                        <td>numerical values2</td>
                        <td>numerical values3</td>
                        <td>numerical values4</td>
                        <td>numerical values5</td>
                        <td>numerical values6</td>
                        <td>
                            <button type="button" class="btn btn-primary">Recovery</button>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>numerical values1</td>
                        <td>numerical values2</td>
                        <td>numerical values3</td>
                        <td>numerical values4</td>
                        <td>numerical values5</td>
                        <td>numerical values6</td>
                        <td>
                            <button type="button" class="btn btn-primary">Recovery</button>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>numerical values1</td>
                        <td>numerical values2</td>
                        <td>numerical values3</td>
                        <td>numerical values4</td>
                        <td>numerical values5</td>
                        <td>numerical values6</td>
                        <td>
                            <button type="button" class="btn btn-primary">Recovery</button>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>numerical values1</td>
                        <td>numerical values2</td>
                        <td>numerical values3</td>
                        <td>numerical values4</td>
                        <td>numerical values5</td>
                        <td>numerical values6</td>
                        <td>
                            <button type="button" class="btn btn-primary">Recovery</button>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>numerical values1</td>
                        <td>numerical values2</td>
                        <td>numerical values3</td>
                        <td>numerical values4</td>
                        <td>numerical values5</td>
                        <td>numerical values6</td>
                        <td>
                            <button type="button" class="btn btn-primary">Recovery</button>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>numerical values1</td>
                        <td>numerical values2</td>
                        <td>numerical values3</td>
                        <td>numerical values4</td>
                        <td>numerical values5</td>
                        <td>numerical values6</td>
                        <td>
                            <button type="button" class="btn btn-primary">Recovery</button>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>numerical values1</td>
                        <td>numerical values2</td>
                        <td>numerical values3</td>
                        <td>numerical values4</td>
                        <td>numerical values5</td>
                        <td>numerical values6</td>
                        <td>
                            <button type="button" class="btn btn-primary">Recovery</button>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>numerical values1</td>
                        <td>numerical values2</td>
                        <td>numerical values3</td>
                        <td>numerical values4</td>
                        <td>numerical values5</td>
                        <td>numerical values6</td>
                        <td>
                            <button type="button" class="btn btn-primary">Recovery</button>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>numerical values1</td>
                        <td>numerical values2</td>
                        <td>numerical values3</td>
                        <td>numerical values4</td>
                        <td>numerical values5</td>
                        <td>numerical values6</td>
                        <td>
                            <button type="button" class="btn btn-primary">Recovery</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 col-md-6">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一页</a>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">1 <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">下一页</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>