<nav class="navbar navbar-expand-lg navbar-dark bg-primary mx-auto">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="https://www.abdn.ac.uk/global/images/layout/UoA_Primary_Logo_RGB_2018.svg?v=1537886890" alt="Logo" class="me-2" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 30px;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trash">DataRecovery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">Prediction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/authen">UserManagement</a>
                </li>
            </ul>
            <div class="btn-group  ms-auto" style="padding-right: 50px;">
                <button type="button" class="btn btn-success">Login</button> &nbsp; &nbsp;
                <button type="button" class="btn btn-success">Registration</button>
            </div>
        </div>
    </div>
</nav>